<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Engineering</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">


  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">


  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">


  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">


  <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body>

  
  

  </section>

  
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      
        
        
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Hello {{ user.username }} !!</a></li>
          <li><a class="nav-link scrollto" href="{% url 'main:chooseclass' %}">Home</a></li>
          
          <li class="dropdown"><a href="#"><span>Choose your class</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>9th & 10th</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'main:scienceten' %}">SCIENCE</a></li>
                  <li><a href="{% url 'main:commerceten' %}">COMMERCE</a></li>
                  <li><a href="{% url 'main:artsten' %}">ARTS</a></li>
                  <li><a href="{% url 'main:diplomaten' %}">DIPLOMA</a></li>
                  
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>11th & 12th</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'main:science' %}">SCIENCE</a></li>
                  <li><a href="{% url 'main:commerce' %}">COMMERCE</a></li>
                  <li><a href="{% url 'main:arts' %}">ARTS</a></li>
                  <li><a href="{% url 'main:studyabroad' %}">STUDY ABROAD</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'main:contact' %}">About us</a></li>
          <li><a class="nav-link scrollto" href="{% url 'login:logout' %}">Log Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>


  <main id="main">

    
    

    </section>

    
    
    </section>

    
    

        
              </div>

              
        </div>
      </div>

    </section>

    
    <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-start text-center">
            <h2>
              JEE Mains is the MOST IMPORTANT Exam.
            </h2>

            <p>
                Getting a good percentile in JEE Mains gurantees many TOP institutions in INDIA.
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="#team">Know More</a>
          </div>
        </div>
      </div>
    </section>

    
    
    </section>

    
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          ENGINEERING
        </h2>

        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="{% url 'main:engexam' %}"><img alt="" class="team-img" src="https://images.unsplash.com/photo-1606326608606-aa0b62935f2b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZXhhbWluYXRpb258ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60">
                <div class="card-title-wrap">
                  <span class="card-title">Exams</span> <span class="card-text">Exams held in India</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    TOP EXAMINATIONS
                  </h4>

                  

                  <p>
                    1. JEE MAINS.
                    <br>
                    2. JEE ADVANCED.
                    <br>
                    ...
                    <br>
                    <br>
                    Click to know more...
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="{% url 'main:engins' %}"><img alt="" class="team-img" src="https://images.unsplash.com/photo-1620496009285-ac853df7b9b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
                <div class="card-title-wrap">
                  <span class="card-title">INSTITUTES</span> <span class="card-text">Where will you Land.</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Institutes in India.
                  </h4>

                  

                  <p>
                      1. IIT BOMBAY.
                      <br>
                      2. IIT DELHI.
                      <br>
                      ...
                      <br>
                      <br>
                      Click to know more...
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="{% url 'main:engbra' %}"><img alt="" class="team-img" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60">
                <div class="card-title-wrap">
                  <span class="card-title">BRANCHES</span> <span class="card-text">Top Branches in India.</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                   TOP BRANCHES
                  </h4>

                  

                  <p>
                    1. CSE.
                    <br>
                    2. IT
                    <br>
                    ...  
                    <br>
                    <br>
                    Click to know more...
                  </p>
                </div>
              </a>
            </div>
          </div>

          <div class="col-sm-3 col-xs-6" id="toefl">
            <div class="card card-block">
              <a href="{% url 'main:engcoach' %}"><img alt="" class="team-img" src="https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHNjaG9vbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60">
                <div class="card-title-wrap">
                  <span class="card-title">COACHING</span> <span class="card-text">How to Prepare</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                   Coaching Centres.
                  </h4>

                  

                  <p>
                      1.ALLEN
                      <br>
                      2.ETOOS
                      <br>
                      ...  
                      <br>
                      <br>
                      Click to know more...
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    
    </section>

  </main>

  
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Career Path</strong>. All Rights Reserved
            </p>
            <div class="credits">
              Designed by <a href="{% url 'main:contact' %}" target="_blank">Career Path Team</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'main:index' %}">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'main:contact' %}">About Us</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>

  
  <script src="{% static 'main.js' %}"></script>

</body>

</html>