<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TOEFL/IELTS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <link href="{% static 'style.css' %}" rel="stylesheet">

</head>

<body>

 

  </section>

  
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Hello {{ user.username }} !!</a></li>
          <li><a class="nav-link scrollto" href="{% url 'main:chooseclass' %}">Home</a></li>
         
          <li class="dropdown"><a href="#"><span>Choose your class</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>9th & 10th</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'main:scienceten' %}">SCIENCE</a></li>
                  <li><a href="{% url 'main:commerceten' %}">COMMERCE</a></li>
                  <li><a href="{% url 'main:artsten' %}">ARTS</a></li>
                  <li><a href="{% url 'main:diplomaten' %}">DIPLOMA</a></li>
                  
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>11th & 12th</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'main:science' %}">SCIENCE</a></li>
                  <li><a href="{% url 'main:commerce' %}">COMMERCE</a></li>
                  <li><a href="{% url 'main:arts' %}">ARTS</a></li>
                  <li><a href="{% url 'main:studyabroad' %}">STUDY ABROAD</a></li>
                </ul>
              </li>
              
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'main:contact' %}">About us</a></li>
          <li><a class="nav-link scrollto" href="{% url 'login:logout' %}">Log Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>


  <main id="main">

  

    
    <section class="cta">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-start text-center">
            <h2>
                TOEFL/IELTS
            </h2>

            <p>
                The Test of English as a Foreign Language internet-based test (TOEFL iBT) will also test your reading, writing, listening, and speaking skills in English, with a focus on authentic communication in a classroom setting.
                The International English Language Testing System (IELTS) tests your capacity to read, write, listen to, and speak English. Though IELTS is based in the United Kingdom, you can use either British or American spellings. There are two main strands of IELTS:
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center">
            <a class="btn btn-ghost" href="#team">Know More</a>
          </div>
        </div>
      </div>
    </section>
    
    </section>

    
    <section class="team" id="team">
      
        <h2 class="text-center">
          ABOUT TOEFL
        </h2>
        <h3 style="color: #199EB8;">
            Structure:-
        </h3>
        <h4>
            The Test of English as a Foreign Language, or TOEFL, is a test which measures people’s English language skills to see if they are good enough to take a course at university or graduate school in English-speaking countries. It is for people whose native language is not English but wish to study in an international University. It measures how well a person uses listening, reading, speaking and writing skills to perform academic tasks. This test is accepted by more than 10 000 colleges, universities, and agencies in more than 150 countries; which means it is the most widely recognized English test in the world.

The format of the TOEFL test has been changed three times. The first was the PBT (paper-based TOEFL test). It tests listening, reading and grammar skills with a perfect score being 677 (Paper Based). Some centers where computers are not available still offer this format. The second format is the CBT (computer-based TOEFL test). People are each provided with a computer to take the test. A writing section was added as well as the three sections. The level of listening and grammar skills are automatically changed depending on a person’s English level. The third change is the iBT (Internet-based test) that is being brought in around the world which measures listening, speaking, reading and writing.

There are three procedures that people are following to take the test. First it is decided where and when you are going to take the test because the format of the test could be either iBT or CBT depending on location. People need to register 2–3 months in advance to get a place. Second is registration in person, online, by phone, or through email. Online registration is most common and payment will be required to complete the registration. The cost changes depending on what kind of exam is taken.

As more universities and colleges want a TOEFL more people are wanting to do the test. In Korea in 2010, nearly 115,000 people took the test to demonstrate their ability in English. This was 20% of the total for people doing the test. It is considered as one of the ways for middle or high school students to apply for the high ranked domestic universities. By studying at such an advanced level, it could help to improve their English skills to get high scores in other English exams..
        </h4>
        <br>
        <a href='https://www.ets.org/toefl' target='_blank'><h4>Visit Official TOEFL website</h4></a>

        <h2 class="text-center">
            ABOUT IELTS
          </h2>
          <h3 style="color: #199EB8;">
              Structure:-
          </h3>
          <h4>
            The International English Language Testing System,[6] or IELTS (/ˈaɪ.ɛlts/), is an international standardized test of English language proficiency for non-native English language speakers. It is jointly managed by the British Council, IDP: IELTS Australia and Cambridge Assessment English,[6] and was established in 1989. IELTS is one of the major English-language tests in the world.

            IELTS is accepted by most Australian, British, Canadian, European, Irish and New Zealand academic institutions, by over 3,000 academic institutions in the United States, and by various professional organisations across the world.
            
            IELTS is the only Secure English Language Test approved by UK Visas and Immigration (UKVI) for visa customers applying both outside and inside the UK. It also meets requirements for immigration to Australia, where Test of English as a Foreign Language (TOEFL) and Pearson Test of English Academic are also accepted,[7] and New Zealand. In Canada, IELTS, TEF, or CELPIP are accepted by the immigration authority.[8]
            
            No minimum score is required to pass the test. An IELTS result or Test Report Form is issued to all test takers with a score from "band 1" ("non-user") to "band 9" ("expert user") and each institution sets a different threshold. There is also a "band 0" score for those who did not attempt the test. Institutions are advised not to consider a report older than two years to be valid, unless the user proves that they have worked to maintain their level.
          </h4>
          <br>
          <a href='https://www.ielts.org/' target='_blank'><h4>Visit Official IELTS website</h4></a>
     
    </section>

  </main>

  
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Career Path</strong>. All Rights Reserved
            </p>
            <div class="credits">
              Designed by <a href="{% url 'main:contact' %}" target="_blank">Career Path Team</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'main:index' %}">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="{% url 'main:contact' %}">About Us</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>

  
  <script src="{% static 'main.js' %}"></script>

</body>

</html>